* {
  padding: 0;
  margin: 0;
}

.survey-page__header {
  height: 80px;
  padding: 10px 40px;
  background-color: #4188a2;
}

.survey-page__logo {
  height: 80px;
  width: 300px;
  display: inline-block;
}

.survey-page__logo img {
  width: 100%;
  height: 100%;
}

.survey-page__header {
  
}

.survey-page__header {
  
}

.survey-page__hero-image {
  height: 350px;
  background-color: #91b9c3;
  background-color: #accc4a;
}

.survey-page__hero-image-text {
  width: 60%;
  color: #fff;
  padding: 40px;
}

.survey-page__hero-image-text h2 {
  font-size: 3rem;
}

.survey-page__hero-image-text p {
  margin-top: 40px;
  font-size: 1.2rem;
}

.survey-page__hero-image-text a {
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #91b9c3;
  color: #fff;
  text-transform: capitalize;
  margin: 20px 0;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

